section{
    padding: 3%;
}
.formulario{
    margin: 1%;
    background-color: #f4f4f4;
}
.ruc{
    font-size: 1.6vw;
    margin: 5px;
}
.inputtext{
    width: 15%;
    height: auto;
    background-color: blue;
}
.boton{
    margin: 5px;
    width: 9%;
    height: auto;
}