.cuerpoforms{
    margin-top: 12px;
    
}
table {
    font-size: 1.2vw;
    font-weight:bold;
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    color: #990000;
    text-align:left;
    -webkit-box-shadow: 6px 4px 31px -1px rgba(0,0,0,0.74);
    -moz-box-shadow: 6px 4px 31px -1px rgba(0,0,0,0.74);
    box-shadow: 6px 4px 31px -1px rgba(0,0,0,0.74);
}
#fila1{
    text-align: center;
}
table td{
    padding: 5px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #d67676;
    border-bottom-color: #d67676;
}
tr:nth-child(even) {
    color: white;
    background-color: #d67676;
}
table th{

    background-position: left top;
    font-size: 12px;
    font-weight:bold;
    background-color: #fdfdf1;
    background-repeat: repeat-x;
    text-align:left;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #EBE9BC;
    border-bottom-color: #EBE9BC;
    
}